:root{
	--input-width: 150px;
	--input-height: 15px;
	--select-width: 75px;
	--select-height: 20px;
	--button-width: 50px;
	--button-height: 20px;
	--inside-font-size: 14px;

};
div{
	margin: 0px;
	box-sizing:border-box;
}

div.AddClassWindow{
    position: fixed;
	top: 0;
	bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #66ff33; 
    width: 500px;
    /*min-width: 450px;*/
    height: 480px;
    background-color: white; 
    box-shadow: 10px 10px 5px rgba(136, 136, 136,0.5);
    z-index: 10; 
    font-size: 14px;
    border: 1px rgba(136, 136, 136,0.5);
    border-radius: 10px 10px 10px 10px;
}


input {
    border: none;
    border: 1px solid hsl(0, 0%, 90%);
    background-color: white; 
    width: var(--input-width);
    height: var(--input-height);
    font-size: (--inside-font-size);
}

select {
	width: var(--select-width);
	height: var(--select-height);
    font-size: (--inside-font-size);
    border: 1px solid hsl(0, 0%, 90%);
}

button{
	margin-right: 5px;
    width: var(button-width);
    height: var(button-height);
    font-size: (inside-font-size);
    border: 1px solid hsl(0, 0%, 90%);

}

/*panelTitle propertie*/
div.panelTitle{
	width: 100%;
	height: 10%;
	position: relative;
	background-color: var(--colored);
	margin-left:0px;
	border: 1px rgba(136, 136, 136,0.5);
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px 2px 0px rgba(136, 136, 136,0.5);
}

div.TitleTitle{
    position: absolute;
    top: 0;
	bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: calc((100%)*(0.7));
	text-align: center;
	font-size: 36;
}

/*ClassInfo propertie*/
div#ClassTitle.AddSection{
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 2px;
	width: 100%;
}

div#ClassDetail.AddSection{
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 2px;
	width: 100%;
}

div.classTitle{
	width: 100%;
	height: 20px;
}

div.classInput{
	width: 100%;
	height: 20px;
}

input#ClassName.inputs{
	margin-right: 5px;
}

input#ClassTitleName.inputs{
	width: calc(2*var(--input-width));
}

/*Prof properties*/
div#ProfInfo.AddSection{

	margin-top: 5px;
	margin-bottom: 2px;
	width:100%;
}
div.ProfTitle{
	width:100%;
	height: 20px;
}
input#ProfName.inputs{
	width: 30%;
	height: 20px;
}


@import url("tabStyle.css");


/*Timeinfo properties*/
div#TimeInfo.AddSection{
	padding-top: 5px;
	margin-bottom: 2px;
	width: 100%;

}

div.startTime{
	float: left;
	width: 40%;
}

div.StartTime{
	margin-top:5px;
	height:20px;
}

div.StartTimeInput{
	margin-bottom: 2px;
	height: 25px;
}

div.stopTime{
	float: left;
	width: 40%;
}

div.StopTime{
	margin-top:5px;
	height:20px;
}

div.StopTimeInput{
	margin-bottom: 2px;
	height: 20px;
}

.AddSection#TimeInfo select{
	/*position: relative;	*/
	float: left;
}

.AddSection#TimeInfo select option{
	background: transparent;
    font-size: 2vh;
    height: 2vh; 
}

/*Date SelectButton*/
div#DateSection.AddSection{
	clear:left;
}
div.DateTime{
	width: 100%;
	margin-top: 5px;
	height: 20px;
}

.DateTimeInput button{
	width: 10%;
	text-align: center;
	margin-right:1px;
	border-width: 4px;
	background-color : #ffffff;
}

.AddSection#DateSection button:hover{
	border: 0;
	background-color: #66cc00;
}
/*
.AddSection#DateSection button:focus{
	background-color: var(--colored);
}
*/

/*classType properties*/
div.classType{
	margin-top:0.5vh;
	margin-bottom: 0.25vh;
	clear: left;
}


select#classType.inputs{
	position: relative;	
}

/*PlaceInfo properties*/
div.LocationTitle{
	width: 100%;
}

input#PlaceBuilding.inputs{
	margin-right: 5px;
}


ColorSection button
div.ColorTitle{
	margin-top:0.5vh;
	margin-bottom: 0.25vh;
	width: 100%
}
.colorInput button{
	position:relative;
	padding: 0px;
	width: 30px;
	height: 30px;
	margin-right: 2%;
	border-radius: 50%;
	border-width: 4px;
}

button#color1.SelectButton{
	border:0;
	padding: 1px;
	background-color: black;
}

.colorInput.SelectButton#color1 button{
	border:0;
	background-color: black;
}
.SelectButton#color1 button:hover{
	border: 1px black;
	border-radius: 50%;
	background-color:#00ccff;
}

.SelectButton#color2 button{
	background-color:#00ccff;
}
.SelectButton#color3 button{
	background-color:#00ccff;
}
.SelectButton#color4 button{
	background-color:#00ccff;
}
.SelectButton#color5 button{
	background-color:#00ccff;
}
.SelectButton#color6 button{
	background-color:#00ccff;
}
.SelectButton#color7 button{
	background-color:#00ccff;
}





/*div fo save and cansel button*/
.AddClassWindow .AddSectionButton{
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.AddSectionButton div{
	display:inline-block;	
	float: left;
}









.groundLevel{
	width: 100%;
	height: 100%;
	/*background-color: #ffffff;*/
	background-color: rgba(128, 128, 128, 0.5);
	position: fixed;
	z-index: 9;
}

.AddSection#DateSection .SelectButton{

}

/*Save and cansol button patten*/
.AddSectionButton .DecisionButton{
	width: 60px;
    height: 20px;
}


@media screen and (max-device-width:800px){ 
	div.AddClassWindow{
	    width: 95vw;
	    height: 95vh;
	}
}

